/* タブレット向けレイアウト */
@media (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
}

/* スマホ向けレイアウト */
@media (max-width: 670px) {
  
  .menu-icon{
    display: block;
  }
    
}