* {
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-color: inherit;
}

/*幅の指定*/
.top-wapper {
  width: 80%;
  text-align: center;
  padding-top: 20px;
  margin: 0 auto;
}

/*宗派のサイズ，および下のmargin*/
.top-wapper h1{
  font-size: 36px;
  margin-bottom: 100px;
}

/*選択欄の下のpaddingの設定*/
.cp_ipselect08 {
  display: block;
  width: 100%;
  height: 100%;
  margin: 2em auto;
  padding-bottom: 50px;
}

/*ちょぼの削除*/
.cp_ipselect08 ul {
  list-style: none;
  padding: 0;
}

/*まだわからん*/
.cp_ipselect08 input {
  color: inherit;
  font: inherit;
  margin: 0;
  background-color;#fff;
/*  background-color: azure;*/
  outline: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  display: inline;
}

/*2個目の選択肢*/
.cp_ipselect08_1{
  display: block;
  width: 100%;
  height: 100%;
  margin: 2em auto;
  padding-bottom: 50px;
}

/*2個目の選択肢*/
.cp_ipselect08_1 ul{
  list-style: none;
  padding: 0;
}

/*2個目の選択肢*/
.cp_ipselect08_1 input {
  display: none;
}

/*TODO??*/
.cp_sl08 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
/*  padding-bottom: 100px;*/
  
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: 0 2px 0 white;
  box-shadow: 0 2px 0 white;
  border-radius: 2px;
}

/*???*/
.cp_sl08_expand {
  width: 0;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
}

/*下矢印のちょぼ出せる*/
.cp_sl08_expand::after {
  position: absolute;
  top: 1.2em;
  right: 0.5em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  pointer-events: none;
  border-top: 6px solid rgba(0, 0, 0, 0.3);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  -webkit-transform: translate(-50%, -50%) rotate(0deg) scaleY(1.75);
  transform: translate(-50%, -50%) rotate(0deg) scaleY(1.75);
  -webkit-transition: all 250ms cubic-bezier(0.4,0.25,0.3,1);
  transition: all 250ms cubic-bezier(0.4,0.25,0.3,1);
  z-index: 2;
  opacity: 0.6;
/*  opacity: 1;*/

}

/*ちょぼもhover時に色が濃くなるように*/
.cp_sl08_expand:hover::after {
  opacity: 1;
}

/*たぶん戻る処理だろうなぁ*/
.cp_sl08_expand:checked::after {
  -webkit-transform: translate(-50%, -50%) rotate(180deg) scaleX(-1) scaleY(1.75);
  transform: translate(-50%, -50%) rotate(180deg) scaleX(-1) scaleY(1.75);
}

/*空のdivタグだった*/
.cp_sl08_expandLabel {
  display: block;
  width: 100%;
  height: 40px;
  position: absolute;
/*  background-color: #fff;*/
  top: 0;
  left: 0;
  cursor: pointer;
}

/*??*/
.cp_sl08_close {
  display: none;
}

.cp_sl08_closeLabel {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}


/*ボックス*/
.cp_sl08_items {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #D6D5D5;
  border-radius: 2px;
  padding-top: 40px;
  text-align: left;
/*  background-color: #fff;*/
  
/*  考察 */
  z-index: 10px;
}

.cp_sl08_input {
  display: none;
}

.cp_sl08_label {
  -webkit-transition: all 250ms cubic-bezier(0.4,0.25,0.3,1);
  transition: all 250ms cubic-bezier(0.4,0.25,0.3,1);
  display: block;
  height: 0;
  line-height: 40px;
  overflow: hidden;
  color: #3e3e3e;
  background-color: #ffffff;
  cursor: pointer;
  padding: 0 10px;
}

.cp_sl08 span{
  text-align: center;
}

.cp_sl08_placeholder {
  height: 40px;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
/*  background-color: #fff;*/
}

.cp_sl08_expand:checked + .cp_sl08_closeLabel {
  display: block;
}

/*白にできひん*/
.cp_sl08_expand:checked + .cp_sl08_closeLabel + .cp_sl08_options .cp_sl08_label {
  height: 40px;
}

/*hover時の処理*/
.cp_sl08_expand:checked + .cp_sl08_closeLabel + .cp_sl08_options .cp_sl08_label:hover {
  background-color: #f7f7f7;
}

/*??*/
.cp_sl08_expand:checked + .cp_sl08_closeLabel + .cp_sl08_options + .cp_sl08_expandLabel {
  display: none;
}

/*??*/
.cp_sl08_input:checked + .cp_sl08_label {
  height: 40px;
  margin-top: -40px;
  /*margin-left: 40px;*/
}


.cp_ipselect08_1 span{
  text-align: center;
}


.detail h2{
  font-weight: normal;
  color: blue;
  opacity:0.5;
  border-bottom: 1px solid #eee;  
}

.buttons{
  margin: 100px 0;
}


.buttons .btn-left{
    font: 1rem 'Fira Sans', sans-serif;
    padding: .5rem;
    background: #86d1f0;
    border: none;
    border-radius: 4px;
    margin: 4px;
    float: left;
    padding: 5px 15px;
}

.buttons .btn-right{
    font: 1rem 'Fira Sans', sans-serif;
    padding: .5rem;
    background: #86d1f0;
    border: none;
    border-radius: 4px;
    margin: 4px;
    float: right;
    padding: 5px 15px;
}

body{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}

footer{
  margin-top: 250px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
}

footer h2{
  font-size: 36px;
  text-align: left;
  padding-left: 20px;
}

.price{
  width: 80%;
  margin: 0 auto;
  background-color: white;
  
  border-top: 1px solid #D6D5D5;
  border-left: 1px solid #D6D5D5;
  border-right: 1px solid #D6D5D5;
  
  border-radius: 30px 30px 0 0 / 30px 30px 0 0;
  -webkit-border-radius: 30px 30px 0 0 / 30px 30px 0 0;
  -moz-border-radius: 30px 30px 0 0 / 30px 30px 0 0;
}
